:root {
    --height-elem: 200px
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    height: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hide {
    display: none;
    
}

.game {
    height: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.levels {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100px - 2rem);
    width: 100%;
    padding: 1rem;
    box-shadow: 3px 3px 5px 1px #a19595;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items:center;
}

.btn {
    font: inherit;
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border: none;
    border-radius: 45px;
    margin: 10px 20px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    cursor: pointer;
}
.btn:hover {
    background: rgb(232,95,76);
    box-shadow: 0 15px 15px rgb(152,15,0);
    color: white;
    transform: translateY(-7px);
}
.btn:disabled {
    background-color: rgb(160, 155, 155);
    color:#524f4e;
    cursor: none;
    
}

.score {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    box-shadow: -3px -3px 5px 1px #a19595;
    height: calc(100px - 2rem);
    padding: 1rem;
}

.gameStart {
    position: absolute;
    width: 250px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    border-radius: 45px;
    color: #fff; /* цвет текста */
    background: rgb(160, 155, 155); /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    cursor: pointer;
    z-index: 200;
}
.gameStart:hover { background: rgb(232,95,76); color: black; } /* при наведении курсора мышки */
.gameStart:active { background: rgb(152,15,0); } /* при нажатии */

.car, .enemy {
    width: calc(var(--height-elem) / 2);
    height: var(--height-elem);
    background: transparent url(./image/player.png) center / contain no-repeat;
    position: absolute;
    /* left: 250px;
    bottom: 10px; */
}

.gameArea {
    
    width: 600px;
    /* height: 100%; */
    position: relative;
    margin: auto;
    background: #222;
    overflow: hidden;
}

.line {
    position: absolute;
    width: 10px;
    height: calc(var(--height-elem) / 2);
    background: #fff;
    left: 295px;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}